*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    padding: 20px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 10px;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes move {
    0%{
        left:0;
        top: 0;
        rotate: 0;
        background-color: crimson;
        
    }
    50%{
        left: 50%;
        top: 0;
        background-color: blue;
        
    }
    75%{
        top: 50%;
        left: 50%;
        background-color: yellowgreen;
        
    }
    100%{
        left: 0;
        top: 50%;
        background-color: chocolate;
      
    }
}