*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    padding: 20px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 10px;

    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes move {
    0%{
        left:0;
        top: 0;
        rotate: 0;
        background-color: crimson;
        
    }
    100%{
        left: 80%;
        top: 0;
        background-color: chocolate;
      
    }
}

h1{
    top: 300px;
    position: absolute;
    color: wheat;
    font-size: 30px;
}

h1::after{
    content: ' Practice Makes Perfect';
    color: green;
    background-color: wheat;
        padding: 5px 10px;
        border-radius: 10px;
}
h1::before{
    content: 'Welcome';
    color: red;
    font-size: 15px;
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 10px;
}